/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "times new roman", "Times New Roman", Times, serif, sans-serif;
}
h1 {
  font-size: 50px;
  padding: 10px 0;
  line-height: 64px;
  color: #ffffff;
}
h2 {
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}
h3 {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}
h4 {
  padding: 10px 0;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
h6 {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
p {
  font-size: 17px;
  margin: 50px 0 20px 0;
  color: #ffffff;
  padding: 0;
  font-size: 15px;
}
.section {
  padding: 30px 80px;
}
.section-p1 {
  margin-bottom: 40px 80px;
}

body {
  background-color: #ffffff;
  width: 100%;
  position: relative;
}
/** logo */
.logo {
  height: 85px;
  width: auto;
  margin: 20px 0;
  background: rgb(255, 0, 0);
  position: relative;
}
/** header start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.06);
  height: 80px;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
/** navigation bar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#navbar li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}
#navbar li a:hover {
  color: #17753e;
}
#navbar li a:hover,
#navbar li a.active {
  color: #17753e;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #17753e;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/**home page hero section */
#hero {
  background-image: url("images/mojito1.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  background-image: url("images/button.jpg");
  background-color: #088178;
  border: none;
  padding: 14px 80px 14px 65px;
  border-radius: 50px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 0cm;
  font-size: 15px;
}
#features .fe-box img {
  padding: 20px 0;
  width: 120px;
  height: auto;
}
h6#free-delivery {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
